<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015187687304-9alah333f21gicioa3rf1ibcpb0rq5f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015187687304-9alah333f21gicioa3rf1ibcpb0rq5f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCwN5dnNSF0MPThXbTN0ee4Au1Wf0-kzAk</string>
	<key>GCM_SENDER_ID</key>
	<string>1015187687304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew01</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015187687304:ios:bdcd3b39da5938da841c3d</string>
</dict>
</plist>